In [38]:
import pandas as pd

In [39]:
df = pd.read_csv('../data/updated_yt_data.csv')
df.head()

,#,NAME,FOLLOWERS,ER,COUNTRY,TOPIC OF INFLUENCE,POTENTIAL REACH,total_subscribers,total_views,total_videos
0,1,T-Series @UCq-Fj5jknLsUf-MWSy4_brA,234M,-,India,NaN,70.2M,269000000.0,2.602978e+11,21338.0
1,2,SET India @UCpEhnqL0y41EpW2TvWAHD7Q,139M,-,India,NaN,41.7M,174000000.0,1.658728e+11,139909.0
2,3,Zee Music Company @UCFFbwnve3yF62-tVXkTyHqg,91.4M,-,India,NaN,27.4M,108000000.0,6.767336e+10,11508.0
3,4,Goldmines @UCyoXW-Dse7fURq30EWl_CUA,72M,-,India,NaN,21.6M,98100000.0,2.938017e+10,8708.0
4,5,Sony SAB @UC6-F5tO8uklgE9Zy8IvbdFw,69.2M,-,India,NaN,20.8M,93600000.0,1.167425e+11,87465.0

In [40]:
# dropping un-necessary columns
df = df.drop(['#', 'ER', 'COUNTRY', 'TOPIC OF INFLUENCE'], axis=1)
df = df.dropna()
df.head(10)

,NAME,FOLLOWERS,POTENTIAL REACH,total_subscribers,total_views,total_videos
0,T-Series @UCq-Fj5jknLsUf-MWSy4_brA,234M,70.2M,269000000.0,2.602978e+11,21338.0
1,SET India @UCpEhnqL0y41EpW2TvWAHD7Q,139M,41.7M,174000000.0,1.658728e+11,139909.0
2,Zee Music Company @UCFFbwnve3yF62-tVXkTyHqg,91.4M,27.4M,108000000.0,6.767336e+10,11508.0
3,Goldmines @UCyoXW-Dse7fURq30EWl_CUA,72M,21.6M,98100000.0,2.938017e+10,8708.0
4,Sony SAB @UC6-F5tO8uklgE9Zy8IvbdFw,69.2M,20.8M,93600000.0,1.167425e+11,87465.0
5,Zee TV @UCppHT7SZKKvar4Oc9J4oljQ,64M,19.2M,81700000.0,9.148665e+10,179140.0
6,Shemaroo Filmi Gaane @UCP6uH_XlsxrXwZQ4DlqbqPg,61.1M,18.3M,68800000.0,2.951570e+10,8638.0
7,Colors TV @UC55IWqFLDH1Xp7iu1_xknRA,59.2M,17.8M,74000000.0,7.205379e+10,155822.0
8,ChuChu TV Nursery Rhymes & Kids Songs @UCBnZ16...,58.7M,17.6M,91800000.0,5.150570e+10,808.0
9,Tips Official @UCJrDMFOdv1I2k8n9oK_V21w,56.5M,17M,67000000.0,3.950004e+10,5982.0

In [41]:
# spliiting NAME with IDs
df[['NAME', 'ID']] = df['NAME'].str.split('@', expand=True)
df.head(10)

,NAME,FOLLOWERS,POTENTIAL REACH,total_subscribers,total_views,total_videos,ID
0,T-Series,234M,70.2M,269000000.0,2.602978e+11,21338.0,UCq-Fj5jknLsUf-MWSy4_brA
1,SET India,139M,41.7M,174000000.0,1.658728e+11,139909.0,UCpEhnqL0y41EpW2TvWAHD7Q
2,Zee Music Company,91.4M,27.4M,108000000.0,6.767336e+10,11508.0,UCFFbwnve3yF62-tVXkTyHqg
3,Goldmines,72M,21.6M,98100000.0,2.938017e+10,8708.0,UCyoXW-Dse7fURq30EWl_CUA
4,Sony SAB,69.2M,20.8M,93600000.0,1.167425e+11,87465.0,UC6-F5tO8uklgE9Zy8IvbdFw
5,Zee TV,64M,19.2M,81700000.0,9.148665e+10,179140.0,UCppHT7SZKKvar4Oc9J4oljQ
6,Shemaroo Filmi Gaane,61.1M,18.3M,68800000.0,2.951570e+10,8638.0,UCP6uH_XlsxrXwZQ4DlqbqPg
7,Colors TV,59.2M,17.8M,74000000.0,7.205379e+10,155822.0,UC55IWqFLDH1Xp7iu1_xknRA
8,ChuChu TV Nursery Rhymes & Kids Songs,58.7M,17.6M,91800000.0,5.150570e+10,808.0,UCBnZ16ahKA2DZ_T5W0FPUXg
9,Tips Official,56.5M,17M,67000000.0,3.950004e+10,5982.0,UCJrDMFOdv1I2k8n9oK_V21w

In [42]:
df.to_csv('../data/cleaned_indian_yt.csv')